
{% extends 'base.html.twig' %}
{% block title %}Wemoov - CVthèque{% endblock %}
{% block body %}



<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link {% if (current_menu is defined) and (current_menu  == 'candidat') %} active {% endif %}" href="{{ path('hr.candidat.list')}}">Candidats<span class="sr-only">(current)</span></a>
        </li>
    </ul>
</div>
</nav>


<div class="jumbotron text-center">
    <h1>Bienvenue sur la CVThèque de Wemoov</h1>
</div>

<div class="container">
    <h2>Les derniers candidats</h2>

        {% for candidat in candidats %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('hr.candidat.show', {id: candidat.id, slug: candidat.slug, current_menu: 'candidat', current_role: 'hr'}) }}">{{ candidat.prenom }} {{ candidat.nom }}</a>
                    </h5>
                    {# <p class="card-text">{{ candidat.ville }} ({{ candidat.cp }})</p> #}
                    <div class="text-primary">{{ candidat.titre }}</div>
                    <p class="text-muted" style="font-size:10px">initié le {{ candidat.formattedDateCreation }}</p>

                </div>
            </div>
        </div> 
        {% endfor %}


    </div>
</div>
{% endblock %}