{% extends 'base.html.twig' %}
{% block title %}{{ candidat.slug }}{% endblock %}
{% block body %}
<div class="jumbotron text-center">

    <h1>{{ candidat.prenom }} {{ candidat.nom }}</h1>

</div>

<div class="container">

    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <h1>{{ candidat.prenom }} {{ candidat.nom }}</h1>
            <h3>Poste : {{ candidat.posteVise }}</h3>
            <h3>Adresse : {{ candidat.ville }} ({{candidat.cp}})</h3>
            <a href="#">Modifier</a>
        </div>
    </div>

</div>
{% endblock %}