{% extends 'base.html.twig' %}
{% block title %}
{{candidat.slug}}
{% endblock %}


{% block menu %}
{{ include ("users/menu.html.twig") }}
{% endblock %}

{% block body %}
<div class="container mt-4">

    <h1>Modifier le profil de {{ candidat.prenom }} {{ candidat.nom }}</h1>

    {{ include('cv/profil/form.html.twig', {form: form}) }}

</div>
{% endblock %}