{% extends 'base.html.twig' %}
{% block title %}
Candidats
{% endblock %}


{% block menu %}
{{ include ("humanRessources/menu.html.twig") }}
{% endblock %}
{% block body %}
<div class="container mt-4">

    <h1>Gérer les Candidats</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Candidats</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.nom }} {{ candidat.prenom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('hr.candidat.edit', {slug: candidat.slug, id: candidat.id} ) }}" role="button">Editer</a>
                    <form style="display: inline-block" method="post" onsubmit="return confirm('Confirmez-vous la suppression du candidat ?')" action="{{ path('hr.candidat.delete', {id: candidat.id} ) }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.id) }}" />
                        <button type="submit" class="btn btn-primary" >Supprimer</button>
                    </form>
                    <a class="btn btn-primary" href="{{ path('hr.candidat.show', {slug: candidat.slug, id: candidat.id} ) }}" role="button">Afficher</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('hr.candidat.add', {current_role:'hr', current_menu:'candidat'} ) }}" role="button">Ajouter un candidat</a>
</div>
{% endblock %}